
  body {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light-color);
  }
  
  /* Navigation */
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var( --primary-color);
  }
  
  /* Hero Section */
  .hero {
    background: linear-gradient(rgba(212, 163, 115, 0.4), rgba(212, 163, 115, 0.4)),
                url('https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?auto=format&fit=crop&w=1920&q=80');
    background-size: cover;
    background-position: center;
    color: var(--white);
    padding: 250px 0;
  }
  
  .category-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .category-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
  }
  
  .category-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ), rgba(255, 245, 235, 0.6); 
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .category-card:hover .category-overlay {
    opacity: 1;
  }
  
  .category-overlay h3 {
    font-size: 1.8rem;
  }
  
  .category-overlay .btn {
    border: 2px solid var(--white);
    color: var(--white);
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .category-overlay .btn:hover {
    background-color: var(--white);
    color: #616161;
  }
  
  /*secondary seccion*/
  .fondo {
    background-color: #b76e79b6;
    width: 80%;
    height: 70%;
  }
  
  .seccion-contenido {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  
  /* Product Cards */
  .product-card {
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  /* Forms */
  .form-container {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Cart */
  .cart-item {
    background: var(--white);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
  
  /* Product Details */
  .product-gallery {
    margin-bottom: 2rem;
  }
  
  .product-gallery img {
    width: 100%;
    border-radius: 5px;
  }
  
  .product-info {
    padding: 2rem;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }