<div class="container my-5" *ngIf="products">
  <h1 class="mb-4">{{ title }}</h1>
  <div class="row g-4">
    <div class="col-md-3 col-sm-6 col-12" *ngFor="let product of products">
      <div class="card product-card">
        <img [src]="product.images[0]" class="card-img-top" [alt]="product.name">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">${{ product.price }}</p>
          <a (click)="redirectToDetail(product.id)" class="btn" style="background-color: #b76e79bd; color: var(--white);">Ver Detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>
