<div class="container">
    <h2 class="text-center mb-4 fs-3">Crear una cuenta</h2>

    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="mb-3">
        <label for="username" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="username">
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
          [(ngModel)]="password"
          (input)="checkPasswordSecurity()" />

        <ul class="mt-2 small">
          <li [class.text-success]="passwordCriteria.length" [class.text-danger]="!passwordCriteria.length">
            ✔️ Mínimo 8 caracteres
          </li>
          <li [class.text-success]="passwordCriteria.lowercase" [class.text-danger]="!passwordCriteria.lowercase">
            ✔️ Una letra minúscula
          </li>
          <li [class.text-success]="passwordCriteria.uppercase" [class.text-danger]="!passwordCriteria.uppercase">
            ✔️ Una letra mayúscula
          </li>
          <li [class.text-success]="passwordCriteria.number" [class.text-danger]="!passwordCriteria.number">
            ✔️ Un número
          </li>
          <li [class.text-success]="passwordCriteria.special" [class.text-danger]="!passwordCriteria.special">
            ✔️ Un carácter especial
          </li>
        </ul>
      </div>

      <div class="mb-3">
        <label for="full_name" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="full_name" name="full_name" required [(ngModel)]="fullName">
      </div>
      
      <div *ngIf="errorMessage" class="alert alert-danger mt-2">
        {{ errorMessage }}
      </div>

      <button
        type="submit"
        class="btn w-100" style="background-color: #DDA15E; color: #fff;"
        [disabled]="!registerForm.form.valid || !isPasswordSecure">
        Registrarse
      </button>
    </form>

    <p class="text-center mt-3">
      ¿Ya tienes una cuenta? <a class="nav-link" (click)="redirectToLogin()">Inicia sesión aquí</a>
    </p>
  </div>